body{
    background-color: rgb(247, 235, 209);
}
.cities-main{
    min-height: 100vh;
}
.cards-cities-container{
    min-width: 60%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}