html {
    overflow-x: hidden;
}



.city-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.city-img {
    height: 50vh;
    width: 90vw;
    object-fit: cover;
}

.city-details {
    width: 90vw;
    margin-top: 1vh;
    background-color: rgba(240, 234, 234, 0.42);
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

li::marker {
    display: none;
    color: rgb(247, 235, 209);
}

.goBack {
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(163, 98, 38);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin: 20px;
}

.goBack:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.description-p {
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: fit-content;
}

@media (max-width: 550px) {
    .city-img {
        height: 50vh;
    }

    .description-p {
        font-size: 2vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: fit-content;
    }

    .city-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 2vh;
    }

    .city-img {
        height: 300px;
    }
}