html {
    overflow-x: hidden;
}

.city-main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7vh;
}

.city-img {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
}

.city-details {
    width: 90vw;
    margin-top: 3vh;
    margin-bottom: 7vh;
    background-color: rgba(240, 234, 234, 0.42);
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    padding: 2vh;
}

.city-info {
    width: max-content;
}

li::marker {
    color: rgba(175, 54, 9, 0.69);
}

.city-description {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
}

.description-title {
    text-align: center;
}

.description-p {
    font-size: 3vh;
}

.city-itineraries {
    text-align: center;
}

.goBack {
    background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
    text-align: center;
    text-transform: uppercase;
    font-family: nunito, sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(163, 98, 38);
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.321);
    padding: 8px 45px;
    margin: 20px;
}

.goBack:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}