.footer-container {
    min-height: 15vh;
    background-color: rgb(247, 214, 170);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px -15px 31px -1px rgba(0, 0, 0, 0.44);
}

.copyright-container {
    background-color: rgba(127, 92, 26, 0.304);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 5vh;
}

.socials {
    width: 30%;
    height: 4vh;
    padding: 8px;
}

h4 {
    font-weight: 600;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half-footer {
    width: 50%;
    min-height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.other-half-footer {
    width: 50%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials-footer {
    display: flex;
    align-items: center;
}