.footer-container{
    min-height: 10vh;
    background-color: rgb(247, 214, 170);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.metodos-style-footer{
    height: 40px;
}
.metodos-pago-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.redes-sociales-footer{
    padding: 8px;
    height: 40px;
}