.header-container{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(39, 122, 181, 0.748);
}
nav{
    display: flex;
    justify-content: space-between;
    min-width: 7rem;
}
.navLink{
    text-decoration: none;
}