.header-container{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(247, 214, 170);
}
.icon img{
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    min-width: 7rem;
}
.navLink{
    text-decoration: none;
}

.accounts img{
    height: 50px;
}