.header-container{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(247, 214, 170);
    box-shadow: 0px 6px 31px -1px rgba(0,0,0,0.63);
}
nav{
    display: flex;
    justify-content: space-between;
    min-width: 7rem;
}
.navLink{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.accounts img{
    height: 40px;
}
.suitcase-logo{
    height: 8vh;
    width: 100%;
}