.activity-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    border: 2px solid rgba(146, 134, 134, 0.42);
    width: 200px;
    height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-inline: 2vh;
}
.activity-item:hover {
    filter: grayscale(40%);
    border-radius: 50%;
    transition:0.4s;
}

.activity-item-name{
    color: #FAF3E0;
    font-weight: 700;
    font-style: oblique;
    text-shadow: -2px 3px 0px rgba(30,33,45,0.7);
    font-size: 1.2rem;
}
.activity-item-name:hover{
    color:orangered;
}