.img-user {
    height: 100px;
    width: 100px;
  }
  
  .name-it {
    margin-top: 10px;
    font-size: 4vh;
  }
  
  .main-it {
    border: 1px solid black;
    margin-inline: 20px;
    width: 60%;
    padding-inline:20px ;
    border-radius: 10px;
    display: flex;
  }
  
  .container-it {
    display: flex;
    min-width: 75vw;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
  }
  
  .user-it {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
  }
  
  @media (max-width: 1000px) {
    .name-it {
      margin-top: 10px;
      font-size: 2vh;
    }
  }
  
  @media (max-width: 500px) {
    .name-it {
      margin-top: 10px;
      font-size: 3vh;
    }
  
    .main-it {
      display: flex;
      flex-direction: column;
    }
  }